<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./VueJS/vue.js"></script>
    <title>Document</title>
    <style>
        .vermelho {
            background: red;
        }
        .rosa {
            background: pink;
        }
        .azul {
            background: white;
        }
        .verde {
            background: green;
        }
        .borda {
            border: 1px solid;
        }
        .div-principal {
            width: 200px;
            height: 200px;
        }
        .div-comum {
            width: 50px;
            height: 50px;
            display: inline-block;
        }
    </style>
</head>
<body>
     <div id="app">
        {{ text }}<br>
        Valor: {{ valor }}<br>
        Logado: {{ logado }}<br>
        Hobbie: {{ hobbies[0] }}<br>
        Perfil: {{ perfil.site }}, {{ perfil.cursos[0].nome }}<br>
        {{ somar() }}
        {{ subtrair() }}
        {{ multiplicar() }}
        {{ dividir() }}
        {{ numeroAleatorio() }}
        {{ getDataItens() }}
        <a :href="site" @click.prevent.once>site</a>
        <p :class="cor" class="teste">entendendo a diretiva v-bind</p> <!--o vue no caso da propeidade class ele consegue fazer o encadeamento-->
        <input type="checkbox" v-bind:checked="check">
        <button @click="mensagemAlerta($event)">Botao</button>
        <div class="borda div-principal" :class="cor">
            Cor: {{ cor }}
            Posição X do mouse: {{ posicaoX }}
            Posição Y do mouse: {{ posicaoY }}
        </div>
        <hr>
        <div class="borda div-comum" @click="mudarCor('verde')"></div>
        <div class="borda div-comum" @mouseover="mudarCor('vermelho')" @mouseout="mudarCor('rosa')"></div>
        <div class="borda div-comum" @mousemove="coordenadas($event)"></div>
        <button @click.once="executarUmaVez()">Botao</button>
        Cliques: {{ cliques }}
        <input type="text" @keyup.x="capturandoTeclas($event)">
        Tecla: {{ teclas }}

        <!--v-if simples-->
        <button @click="exibirSaldo = !exibirSaldo">
            <span v-if="!exibirSaldo">Exibir Saldo</span>
            <span v-if="exibirSaldo">Ocultar Saldo</span>
        </button>
        <p>Saldo <span v-if="exibirSaldo"> R$ {{ saldo }}</span></p>

        <!--v-if e v-else-->
        Idade: <input type="text" id="inputIdade" @blur="setIdade()">
        <p v-if="idade < 18">menor de idade</p>
        <p v-else-if="idade < 20">jovem</p>
        <p v-else>Maior de idade</p>
     </div>

     <script src="./script.js"></script>
</body>
</html>